
.header-top {
	background: #e7e7e7;
    padding: 8px 0;
    ul {
    	list-style: none;
    	display: flex;
    	justify-content: center;
    	li {
    		padding: 0 15px;
    	}
    	a {
    		color: #576C8A;
    		i {
    			margin-right: 10px;
    		}
    	}
    }
    .cart {
    	position: relative;
    	a {
    		color: #576C8A;
    	}
    	&:hover {
    		.hver-cart {
    			top: 21px;
    			right: 0;
    			opacity: 1;
    			pointer-events: unset;
    		}
    	}
    }
}
.btn-cart-link {
	padding: 10px 0;
    border-top: 1px solid #ddd;
	a {
		display: inline-flex;
	    height: 35px;
	    background: #444;
	    align-items: center;
	    padding: 0 12px;
	    color: #fff !important;
	    font-size: 13px;
	    i {
	    	margin-right: 10px;
	    }
	}
}
.hver-cart {
	font-size: 14px;
    background: #fff;
    width: 280px;
    padding: 5px 15px;
    box-shadow: 0px 10px 40px #27347d1f;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    transition: .4s all !important;
    top: 40px;
    right: 20px;
    pointer-events: none;
    opacity: 0;
    ul {
    	display: block;
    	li {
    		display: flex;
		    justify-content: space-between;
		    padding: 6px 0;
		    border-bottom: 1px solid #dddddd;
		    align-items: center;
		    &:last-child {
		    	border-bottom: 0;
		    }
    	}
    	.total-hver {
    		border-bottom: 0;
    		color: #ee0033;
    		font-weight: bold;
    	}
    	.numb-cart {
    		font-weight: bold;
    		color: #0063af;
    	}
    	.remove-cart {
    		display: inline-flex;
		    width: 20px;
		    height: 20px;
		    background: #0063af;
		    border-radius: 5px;
		    color: #fff;
		    justify-content: center;
		    align-items: center;
    	}
    }
}
.header-menu {
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		li {
			position: relative;
			&:hover {
				ul {
					pointer-events: unset;
		    		opacity: 1;
		    		left: 0;
		    		top: 74px;
				}
			}
		}
		ul {
			display: block;
		    box-shadow: 0px 10px 40px #27347d1f;
		    background: #fff;
		    z-index: 10;
		    position: absolute;
		    width: 280px;
		    padding: 8px 0;
		    transition: .3s all !important;
		    top: 90px;
		    left: 20px;
		    pointer-events: none;
		    opacity: 0;
		    a {
		    	height: auto;
		    	padding: 6px 15px;
		    }
		}
	}
	a {
		font-weight: 500;
		height: 74px;
		display: flex;
		align-items: center;
	}
	.btn-login {
		background: #EE0033;
	    height: 40px;
	    align-items: center;
	    color: #fff;
	    padding: 0 20px;
	    border-radius: 30px;
	}
}
header {
	position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 1001;
    box-shadow: 0px 2px 9px #ddd;
}

main {
	margin-top: 115px;
}

footer {
	background: #0063af;
    color: #fff;
    padding: 25px 0;
    font-size: 14px;
}
.item-ft {
	.title-ft {
		font-size: 16px;
	    font-weight: 500;
	    margin-bottom: 15px;
	}
	ul {
		list-style: none;
		li {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	a {
		color: #fff;
		position: relative;
		padding-left: 15px;
		display: inline-block;
		&:after {
			content: "-";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}