
@media (max-width: 767px) {
	.header {
		display: block !important;
	}
	.hver-cart {
	    display: none !important;
	}
	.header-top .col-md-7 {
	    display: none;
	}

	.header-menu {
	    display: none;
	}

	.header a {
	    font-size: 21px;
	    color: #0063af;
	}

	.head-right {
	    display: flex;
	    align-items: center;
	    justify-content: flex-end;
	}

	.header-top .cart a {
	    color: #0063af;
	}

	.header-top .cart {
	    margin-right: 15px;
	}

	nav#menu {
	    z-index: 1002;
	}

	nav#menu.mm-menu_opened {
	    display: block !important;
	}

	.item-ft .title-ft {
	    font-size: 15px;
	    margin-bottom: 6px;
	}

	.footer-top .col-md-3 {
	    margin-bottom: 20px;
	}

	.footer-top .col-md-3:last-child {
	    margin-bottom: 0;
	}

	.view-all a {
	    height: 35px;
	    font-size: 14px;
	}

	.box-search-sim {
	    padding-bottom: 30px;
	}

	.list-sim table {
	    width: 800px;
	    max-width: unset;
	}

	.list-sim {
	    overflow: auto;
	    padding-top: 20px;
	}

	.box-packages {
	    padding-bottom: 30px;
	}
	.content-popup .close {
	    top: -15px;
	    right: -30px;
	}

	.slide-banner .item img {
	    height: 200px;
	    object-fit: cover;
	}

	.box-banner .slick-dots {
	    bottom: 5px;
	}

	.box-banner .slick-arrow {display: none;}

	.caption {
	    padding: 25px 0;
	}

	.caption h1 {
	    font-size: 25px;
	}

	.item-small .avarta {
	    flex: 0 0 45%;
	}

	.item-small .info {
	    padding: 0 10px;
	}

	.item-small .info h4 a {
	    font-size: 12px;
	}

	.item-small .info h3 a {
	    font-weight: 500;
	    font-size: 14px;
	    padding: 5px 0 0 0;
	    line-height: 1.3;
	}

	.item-small .date {
	    font-size: 12px;
	}

	.item-small .info h4 {
	    display: none;
	}

	.item-small {
	    margin-bottom: 15px;
	}

	.top-tab .btn-more {
	    display: none;
	}

	.new-bigs .info {
	    padding: 10px;
	}

	.new-bigs .info h3 a {
	    font-size: 16px;
	    padding: 5px 0;
	}

	.new-bigs .info .date {
	    font-size: 12px;
	}

	.new-bigs {
	}

	.list-new-small {
	    margin-top: 15px;
	}

	.title h2 {
	    font-size: 18px;
	}

	.top-tab li:first-child {
	    width: 100%;
	    margin-bottom: 10px;
	    padding-right: 0;
	}

	.top-tab {
	    margin-bottom: 15px;
	    font-size: 14px;
	}

	.top-tab li {
	    padding-right: 15px;
	}

	.item-pack ul {
	    max-height: 200px;
	}

	.new-home {
	    padding-bottom: 40px;
	}

	.tab-pack {
	    margin-bottom: 20px;
	}

	.title {
	    margin-bottom: 15px;
	}

	.tab-pack ul {
	    width: 900px;
	}

	.tab-pack {
	    overflow: auto;
	}

	.tab-pack li {
	    padding: 0;
	}

	.title-p h2 {
	    font-size: 20px;
	}

	.scroll-mb table {
	    width: 815px;
	    max-width: unset;
	}

	table.table {
	}

	.scroll-mb {
	    overflow: auto;
	}

	.cart-pay {
	    padding: 30px 0;
	}

	.item-news .avarta {
	    flex: 0 0 45%;
	}

	.item-news .info {
	    padding: 5px 10px;
	}

	.item-news .info .desc {display: none;}

	.item-news .info h3 a {
	    font-weight: 500;
	    font-size: 14px;
	    -webkit-line-clamp: 3;
	}

	.item-news .info .date {
	    padding-top: 0;
	}

	.item-news {
	    margin-bottom: 15px;
	}

	.side-bar {
	    margin-top: 15px;
	}
	.news {
	    padding: 20px 0;
	}
	main {
	    margin-top: 50px;
	}
}

@media (max-width: 575px) {
	.item-other {
	    display: flex;
	}

	.item-other .avarta {
	    flex:  0 0 45%;
	}

	.item-other .info {
	    padding: 5px 10px;
	}

	.item-other .info a {
	    font-size: 14px;
	    -webkit-line-clamp: 3;
	    margin-bottom: 0;
	}

	.item-other .desc {
	    display: none;
	}

	.list-news-other .col-md-4 {
	    margin-bottom: 15px;
	}

	.list-news-other .col-md-4:last-child {
	    margin-bottom: 0;
	}
}

@media (max-width: 767px) and (min-width:  576px) {
	.item-news .avarta {
	    flex:  0 0 270px;
	}

	.item-news .info .desc {
	    display: -webkit-box;
	    margin-bottom: 10px;
	}
}

@media (max-width:  1199px) and (min-width: 1024px) {
	.header-top ul li {
	    padding: 0 10px;
	}

	.header-top ul a {
	    font-size: 14px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.header-top ul li {
	    padding: 0 5px;
	}

	.header-top ul a {
	    font-size: 10px;
	}

	.header-top .cart a {
	    font-size: 10px;
	}

	.hver-cart {
	    font-size: 12px;
	}

	.header-menu a {
	    font-size: 13px;
	}

	.header-menu .btn-login {
	    height: 30px;
	    padding: 0 11px;
	}
	.content-popup .close {
	    right: -15px;
	}
	.tab-pack a {
	    width: auto;
	    padding: 0 20px 0 5px;
	}

	.tab-pack li {
	    padding: 0;
	}

	.tab-pack a img {
	    position: unset;
	    margin-right: 10px;
	}

	.item-small .avarta {
	    flex: 0 0 45%;
	}

	.item-small .info h3 a {
	    padding: 5px 0;
	    font-size: 14px;
	}

	.title h2 {
	    font-size: 20px;
	}

	.top-tab li {
	    padding-right: 15px;
	}
	.new-bar .avarta {
	    flex: 0 0 70px;
	}
}