@media (max-width: 767px) {
    .slide-banner img {
        height: auto;
    }

    .box-slide {
        padding: 15px 0 0 0;
    }

    section#box-home-prd {
        padding: 30px 0;
    }

    .title h2 {
        font-size: 15px;
    }

    .title h2 img {
        max-height: 22px;
        margin-right: 5px;
    }

    .title {
        margin-bottom: 20px;
    }

    .document {
        margin-bottom: 30px;
    }

    .slide-doc .item-slide {
        padding: 0 5px;
    }

    .slide-doc {
        margin: 0 -5px;
    }
    del {
        display: none;
    }

    .item-price ins {
        font-size: 15px;
    }
    .box-story {
        padding: 40px 15px;
        margin-bottom: 30px;
    }
    .side-bar {
        margin-bottom: 30px;
    }
    .item-cart .cart-prd .avarta {
        flex: 0 0 100px;
    }

    .item-cart .info .author {
        padding: 3px 0;
    }

    .item-cart .info .desc {
        overflow: hidden;
        max-height: 56px;
    }

    .list-cart {
        width: 800px;
    }

    .scroll-mb {
        overflow: auto;
    }

    .item-cart .info h3 a {
        font-size: 16px;
    }

    .box-oder {
        font-size: 13px;
    }
    .cart-title {
        font-size: 13px;
    }
    .slide-thumb .slider-for {
        margin-bottom: 10px;
    }

    .preview {
        margin-bottom: 30px;
    }

    .info-preview h1 {
        font-size: 18px;
        line-height: 1.5;
    }

    .nav-tabs .nav-link {
        font-size: 15px;
    }

    .content-detail .tab-content {
        padding: 15px;
    }

    .item-review {
        padding: 15px;
    }

    .item-review .avarta {
        flex: 0 0 50px;
    }

    .item-review .avarta img {width: 50px;height: 50px;}

    .item-review .top {
        font-size: 13px;
        display: block;
    }

    .title-review h3 {
        font-size: 15px;
    }
    .slick-arrow {
        transform: scale(1);
    }
    .slick-arrow {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .document .slick-arrow.next {
        right: 5px;
    }

    .document .slick-arrow {
        left: 5px;
    }
    .modal-cmt .modal-content {
        padding: 10px;
    }

    .item-cmt .t-cmt {
        font-size: 15px;
    }

    .item-cmt {
        display: block !important;
    }

    .title-cmt {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .list-new .col-md-6 {
        margin-bottom: 15px;
    }

    .list-new .col-md-6:last-child {
        margin-bottom: 0;
    }

    .item-news {
        display: flex;
    }

    .item-news .avarta {
        flex: 0 0 45%;
        margin-right: 10px;
        border-radius: 0;
    }

    .item-news .info {
        padding-top: 0;
    }

    .item-news .info .desc {
        display: none;
    }

    .item-news .info a {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
    }
}   

@media (max-width: 767px) and (min-width: 576px) {
    .list-new .row {
        margin: 0 -5px;
    }

    .list-new .row .col-md-6 {
        padding: 0 5px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .modal-cmt .modal-dialog {
        max-width: 700px;
    }
}