* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  padding: 0 !important;
  font-size: 15px;
  line-height: 1.7;
  transition: .3s all;
  position: relative;
  overflow-x: hidden;
  font-family: 'Roboto';
  font-weight: normal;
  color: #333333; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body .container {
    max-width: 1200px; }
  body input {
    padding: 0 15px;
    outline: none;
    color: #000000; }
  body input, body button {
    transition: .3s all !important; }
  body p {
    margin-bottom: 0; }
  body a {
    color: #333333; }
    body a:hover {
      color: #0063af; }
      body a:hover svg {
        fill: #18ffb2; }

.avarta {
  overflow: hidden; }
  .avarta img {
    transition: .5s all !important; }
    .avarta img:hover {
      transform: scale(1.05); }

.slick-slider {
  margin-bottom: 0; }
  .slick-slider img {
    display: inline; }

.header-top {
  background: #e7e7e7;
  padding: 8px 0; }
  .header-top ul {
    list-style: none;
    display: flex;
    justify-content: center; }
    .header-top ul li {
      padding: 0 15px; }
    .header-top ul a {
      color: #576C8A; }
      .header-top ul a i {
        margin-right: 10px; }
  .header-top .cart {
    position: relative; }
    .header-top .cart a {
      color: #576C8A; }
    .header-top .cart:hover .hver-cart {
      top: 21px;
      right: 0;
      opacity: 1;
      pointer-events: unset; }

.btn-cart-link {
  padding: 10px 0;
  border-top: 1px solid #ddd; }
  .btn-cart-link a {
    display: inline-flex;
    height: 35px;
    background: #444;
    align-items: center;
    padding: 0 12px;
    color: #fff !important;
    font-size: 13px; }
    .btn-cart-link a i {
      margin-right: 10px; }

.hver-cart {
  font-size: 14px;
  background: #fff;
  width: 280px;
  padding: 5px 15px;
  box-shadow: 0px 10px 40px #27347d1f;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  transition: .4s all !important;
  top: 40px;
  right: 20px;
  pointer-events: none;
  opacity: 0; }
  .hver-cart ul {
    display: block; }
    .hver-cart ul li {
      display: flex;
      justify-content: space-between;
      padding: 6px 0;
      border-bottom: 1px solid #dddddd;
      align-items: center; }
      .hver-cart ul li:last-child {
        border-bottom: 0; }
    .hver-cart ul .total-hver {
      border-bottom: 0;
      color: #ee0033;
      font-weight: bold; }
    .hver-cart ul .numb-cart {
      font-weight: bold;
      color: #0063af; }
    .hver-cart ul .remove-cart {
      display: inline-flex;
      width: 20px;
      height: 20px;
      background: #0063af;
      border-radius: 5px;
      color: #fff;
      justify-content: center;
      align-items: center; }

.header-menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .header-menu ul li {
    position: relative; }
    .header-menu ul li:hover ul {
      pointer-events: unset;
      opacity: 1;
      left: 0;
      top: 74px; }
  .header-menu ul ul {
    display: block;
    box-shadow: 0px 10px 40px #27347d1f;
    background: #fff;
    z-index: 10;
    position: absolute;
    width: 280px;
    padding: 8px 0;
    transition: .3s all !important;
    top: 90px;
    left: 20px;
    pointer-events: none;
    opacity: 0; }
    .header-menu ul ul a {
      height: auto;
      padding: 6px 15px; }
.header-menu a {
  font-weight: 500;
  height: 74px;
  display: flex;
  align-items: center; }
.header-menu .btn-login {
  background: #EE0033;
  height: 40px;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  border-radius: 30px; }

header {
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1001;
  box-shadow: 0px 2px 9px #ddd; }

main {
  margin-top: 115px; }

footer {
  background: #0063af;
  color: #fff;
  padding: 25px 0;
  font-size: 14px; }

.item-ft .title-ft {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px; }
.item-ft ul {
  list-style: none; }
  .item-ft ul li {
    margin-bottom: 8px; }
    .item-ft ul li:last-child {
      margin-bottom: 0; }
.item-ft a {
  color: #fff;
  position: relative;
  padding-left: 15px;
  display: inline-block; }
  .item-ft a:after {
    content: "-";
    position: absolute;
    top: 0;
    left: 0; }

.news {
  padding: 40px 0; }
  .news .row {
    margin: 0 -10px; }
    .news .row > div {
      padding: 0 10px; }

.item-news {
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px; }
  .item-news .avarta {
    flex: 0 0 270px; }
  .item-news .info {
    padding: 10px 15px 5px 15px; }
    .item-news .info h3 a {
      display: block;
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: 500;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .item-news .info .date {
      padding-top: 10px;
      font-size: 14px; }
    .item-news .info .desc {
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }

.box-bar {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px; }
  .box-bar:last-child {
    margin-bottom: 0; }
  .box-bar .title-bar {
    font-size: 17px;
    font-weight: 600;
    padding: 0px 0 10px 0;
    text-transform: uppercase;
    color: #0063af; }

.new-bar {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap; }
  .new-bar:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
  .new-bar .avarta {
    flex: 0 0 100px;
    margin-right: 10px; }
  .new-bar .info {
    flex: 0 0 calc(100% - 110px); }
    .new-bar .info a {
      display: block;
      font-size: 14px;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
  .new-bar .desc {
    line-height: 1.5;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }

.side-bar {
  position: sticky;
  top: 130px; }

.pagination a {
  display: flex;
  width: 35px;
  height: 35px;
  background: #ffff;
  border-radius: 5px;
  justify-content: center;
  align-items: center; }
  .pagination a.active, .pagination a:hover {
    background: #0063af;
    color: #fff; }

.content-detail {
  background: #fff;
  padding: 20px; }

.detail-top {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .detail-top h1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #0063af; }

.detail p {
  margin-bottom: 20px; }
  .detail p img {
    max-width: 100%;
    height: auto; }

.other-detail {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd; }

.title-detail {
  color: #0063af;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px; }

.item-other {
  height: 100%;
  box-shadow: 0px 0px 5px #ddd; }
  .item-other .info {
    padding: 12px; }
    .item-other .info a {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.4; }
  .item-other .date {
    color: #576C8A;
    font-size: 14px;
    padding-top: 10px; }
  .item-other .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }

.cart-pay {
  padding: 60px 0; }

.box-bar-cart {
  background: #fff;
  padding: 15px;
  font-size: 14px; }
  .box-bar-cart h3 {
    font-weight: normal;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px; }

.info-bar-cart {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; }
  .info-bar-cart ul {
    list-style: none; }
    .info-bar-cart ul li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px; }
      .info-bar-cart ul li:last-child {
        margin-bottom: 0; }

.total {
  font-weight: bold; }
  .total ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 16px; }
  .total li.price-cart {
    color: red; }

.btn-bar {
  padding: 20px 0; }
  .btn-bar a {
    display: flex;
    height: 40px;
    background: #0063af;
    color: #fff !important;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-radius: 30px; }

.btn-back-home a {
  color: #0063af; }
  .btn-back-home a i {
    margin-right: 10px; }

.box-prd-cart {
  background: #fff;
  padding: 15px; }

.scroll-mb {
  font-size: 14px; }
  .scroll-mb table {
    margin-bottom: 0;
    border: 1px solid #ddd; }
  .scroll-mb th {
    font-weight: normal;
    vertical-align: middle; }
  .scroll-mb thead {
    background: #ebebeb;
    font-size: 14px;
    font-weight: normal; }
  .scroll-mb .quantity input {
    width: 60px;
    padding: 0 0 0 15px;
    border-radius: 5px;
    border: 1px solid #ddd; }
  .scroll-mb tbody tr th:first-child {
    width: 45%; }

.title-cart {
  margin-bottom: 10px; }

.prd-cart {
  display: flex;
  align-items: center; }
  .prd-cart .avarta {
    flex: 0 0 76px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd; }
  .prd-cart .info a {
    font-size: 16px;
    color: #0063af;
    display: block; }
  .prd-cart .info .desc {
    font-size: 13px;
    color: #707070;
    padding: 5px 0; }

.title-p {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #aaa; }
  .title-p h2 {
    font-size: 25px;
    font-weight: bold; }

.box-info-user {
  margin-top: 20px;
  padding: 20px;
  background: #fff; }
  .box-info-user h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px; }

.list-form {
  font-size: 14px; }
  .list-form label {
    margin-bottom: 8px; }
  .list-form .inp_cart {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 0; }
  .list-form textarea {
    height: 100px;
    width: 100%;
    padding: 0 10px;
    background: #f8f8f8;
    border-radius: 5px;
    outline: none;
    border: 0; }
  .list-form .row > div {
    margin-bottom: 20px; }

.slick-arrow {
  position: absolute;
  top: calc(50% - 25px);
  color: #fff;
  font-size: 50px;
  background: transparent;
  border: 0 !important;
  display: inline-flex;
  z-index: 2;
  left: 30px;
  outline: none !important;
  cursor: pointer; }
  .slick-arrow.next {
    left: unset;
    right: 30px; }

.box-banner .slick-dots {
  bottom: 15px; }
  .box-banner .slick-dots button {
    display: none !important; }
  .box-banner .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ebebeb;
    opacity: 0.5; }
    .box-banner .slick-dots li.slick-active {
      background: #fff;
      opacity: 1; }

.caption {
  padding: 50px 0; }
  .caption h1 {
    font-size: 40px;
    color: #ee0033;
    font-weight: normal;
    line-height: 1.5; }

.top-tab {
  margin-bottom: 35px;
  font-size: 16px; }
  .top-tab .title {
    margin-bottom: 0; }
  .top-tab h2 {
    font-size: 24px;
    font-weight: 600; }
  .top-tab li {
    padding-right: 35px; }
    .top-tab li:last-child {
      padding-right: 0; }
  .top-tab a.active, .top-tab a:hover {
    color: #ee0033; }

.new-bigs {
  box-shadow: 0px 10px 40px #27347d1f;
  border-radius: 6px;
  height: 100%; }
  .new-bigs .info {
    padding: 15px 20px; }
    .new-bigs .info h4 a {
      font-size: 14px;
      color: #ee0033; }
    .new-bigs .info h3 a {
      display: block;
      font-size: 20px;
      padding: 10px 0; }
    .new-bigs .info .date {
      font-size: 14px;
      color: #576C8A; }

.item-small {
  display: flex;
  box-shadow: 0px 10px 40px #27347d1f;
  border-radius: 6px;
  margin-bottom: 20px; }
  .item-small:last-child {
    margin-bottom: 0; }
  .item-small .avarta {
    flex: 0 0 258px; }
  .item-small .info {
    padding: 15px 20px; }
    .item-small .info h4 a {
      font-size: 14px;
      color: #ee0033;
      display: block; }
    .item-small .info h3 a {
      display: block;
      font-size: 18px;
      padding: 10px 0; }
  .item-small .date {
    font-size: 14px;
    color: #576C8A; }

.contne-tab {
  display: none; }
  .contne-tab.active {
    display: block; }

.new-home {
  padding-bottom: 60px; }

.title {
  margin-bottom: 35px; }
  .title h2 {
    font-size: 24px;
    font-weight: 600; }

.tab-pack {
  margin-bottom: 40px; }
  .tab-pack ul {
    text-align: center; }
  .tab-pack li {
    padding: 0 10px; }
  .tab-pack a {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
    width: 200px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    color: #707070;
    background: #ebebeb;
    border-radius: 30px; }
    .tab-pack a.active, .tab-pack a:hover {
      background: #0063af;
      color: #fff; }
  .tab-pack img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    left: 8px;
    top: 6px; }

.item-pack {
  position: relative;
  box-shadow: 0 3px 6px 0 #00000029;
  border-radius: 4px;
  font-weight: 500; }
  .item-pack ul {
    list-style: none;
    max-height: 270px;
    overflow: auto;
    padding-right: 6px; }
    .item-pack ul::-webkit-scrollbar-track {
      background-color: #b8b8b8; }
    .item-pack ul::-webkit-scrollbar {
      width: 3px;
      background-color: #b8b8b8; }
    .item-pack ul::-webkit-scrollbar-thumb {
      background-color: #707070; }
    .item-pack ul li {
      margin-bottom: 12px;
      position: relative;
      display: flex; }
      .item-pack ul li img {
        flex: 0 0 18px;
        margin-right: 10px; }
      .item-pack ul li:last-child {
        margin-bottom: 0; }
  .item-pack .desc {
    padding: 15px;
    font-size: 14px;
    font-weight: normal; }

.title-pack {
  background-color: #f1f7ff;
  color: #0063af;
  padding: 10px 15px;
  font-size: 14px;
  position: relative; }
  .title-pack h3 {
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold; }

.list-pack {
  margin-bottom: 0 -15px; }
  .list-pack .item-slide {
    padding: 5px 15px; }

.bott-pack {
  border-top: 1px solid #ddd;
  padding: 15px 30px; }
  .bott-pack .btn-regis {
    margin-bottom: 5px; }
    .bott-pack .btn-regis a {
      display: flex;
      height: 35px;
      background: linear-gradient(100deg, #ff2e17, #0063af 83%);
      color: #fff;
      font-size: 14px;
      justify-content: center;
      align-items: center;
      border-radius: 30px; }
  .bott-pack .more-pack a {
    font-size: 14px;
    color: #0063af;
    font-weight: normal;
    font-style: italic; }

.box-packages {
  padding-bottom: 60px; }

.view-all {
  padding-top: 30px; }
  .view-all a {
    display: inline-flex;
    height: 40px;
    align-items: center;
    font-size: 18px;
    color: #0063af;
    border: 1px solid #0063af;
    padding: 0 25px;
    border-radius: 30px; }
    .view-all a i {
      margin-left: 10px; }
    .view-all a:hover {
      color: #fff;
      background: #0063af; }

.content-pack {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  background: #fff;
  opacity: 0;
  transition: .3s all !important; }
  .content-pack.active {
    position: relative;
    opacity: 1;
    pointer-events: unset; }

.box-content-pack {
  position: relative; }
  .box-content-pack .slick-arrow {
    background: #fff;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0 3px 6px 0 #00000029;
    color: #0063af;
    left: -8px; }
    .box-content-pack .slick-arrow.next {
      left: unset;
      right: -8px; }

.list-sim {
  padding-top: 50px; }
  .list-sim table {
    margin-bottom: 0;
    border: 1px solid #ddd; }
  .list-sim tbody th {
    font-weight: normal; }
    .list-sim tbody th a {
      display: inline-flex;
      height: 35px;
      justify-content: center;
      background: #ee0033;
      align-items: center;
      color: #fff;
      font-weight: 300;
      border-radius: 30px;
      padding: 0 10px; }
  .list-sim .numb-sim {
    color: #ee0033;
    font-weight: 500; }

.box-search-sim {
  padding-bottom: 60px; }

.search-sim-top {
  max-width: 550px;
  margin: 0 auto;
  position: relative; }
  .search-sim-top i {
    position: absolute;
    left: 11px;
    font-size: 20px;
    opacity: .4;
    top: 10px; }
  .search-sim-top input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 15px 0 40px; }
  .search-sim-top button {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ee0033;
    background: #ee0033;
    border-radius: 0 5px 5px 0;
    height: 40px;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 14px;
    padding: 0 20px; }
  .search-sim-top:hover .box-note-search {
    opacity: 1;
    top: 50px; }

.box-note-search {
  box-shadow: 0 3px 6px 0 #00000029;
  background: #fff;
  padding: 15px;
  font-size: 14px;
  z-index: 10;
  pointer-events: none;
  transition: .4s all !important;
  width: 100%;
  top: 70px;
  position: absolute;
  border-radius: 6px;
  opacity: 0; }
  .box-note-search h6 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px; }
  .box-note-search ul {
    list-style: none; }
    .box-note-search ul li {
      margin-bottom: 5px;
      color: #576C8A; }
      .box-note-search ul li:last-child {
        margin-bottom: 0; }

.modal-popup .modal-dialog {
  max-width: 1100px; }
.modal-popup .modal-body {
  padding: 16px 30px; }

.list-popup .col-md-4 {
  padding: 15px; }

.content-popup {
  position: relative; }
  .content-popup .close {
    opacity: 1;
    text-shadow: none;
    box-shadow: 0 3px 6px 0 #00000029;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    background: #fff;
    right: -45px;
    outline: none !important; }

.check-popup label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rebeccapurple;
  cursor: pointer;
  opacity: 0; }
.check-popup input[type=radio] {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px; }

/*# sourceMappingURL=style.css.map */
