* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  padding: 0 !important;
  font-size: 15px;
  line-height: 1.7;
  transition: .3s all;
  position: relative;
  overflow-x: hidden;
  font-family: 'Roboto';
  font-weight: normal;
  color: #333333; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body .container {
    max-width: 1200px; }
  body input {
    padding: 0 15px;
    outline: none;
    color: #000000; }
  body input, body button {
    transition: .3s all !important; }
  body p {
    margin-bottom: 0; }
  body a {
    color: #333333; }
    body a:hover {
      color: #e87461; }
      body a:hover svg {
        fill: #18ffb2; }

.slick-slider {
  margin-bottom: 0; }
  .slick-slider img {
    display: inline; }

footer {
  font-size: 13px;
  color: #fff; }
  footer a {
    color: #fff; }

.footer-top {
  background: #7fb342;
  padding: 40px 0; }
  .footer-top ul {
    list-style: none; }
    .footer-top ul li {
      padding: 4px 0; }
      .footer-top ul li i {
        position: relative;
        margin-right: 10px; }

.item-footer .logo {
  margin-bottom: 20px; }

.title-footer {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px; }

.link-fter a {
  position: relative;
  padding-left: 15px; }
  .link-fter a:after {
    content: "\f101";
    position: absolute;
    font-family: fontawesome;
    left: 0;
    top: -4px; }

.fanpage {
  overflow: hidden; }

.reserved {
  background: #e87461;
  padding: 10px 0; }

.side-sticky {
  position: sticky;
  top: 20px; }

.title-bar {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .title-bar h2 {
    font-size: 15px;
    font-weight: bold;
    color: #e87461;
    display: flex;
    align-items: center;
    text-transform: uppercase; }
    .title-bar h2 img {
      margin-right: 10px; }

.cate-bar {
  font-size: 13px;
  text-transform: uppercase; }
  .cate-bar ul {
    list-style: none; }
    .cate-bar ul li {
      position: relative; }
      .cate-bar ul li:hover ul {
        transition: .4s all;
        right: -150px;
        top: 0;
        z-index: 2;
        opacity: 1;
        visibility: visible; }
        .cate-bar ul li:hover ul a {
          padding: 5px 10px; }
      .cate-bar ul li:hover > a {
        background: #e87461;
        color: #fff; }
    .cate-bar ul a {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      padding: 5px; }
      .cate-bar ul a:hover {
        background: #e87461;
        color: #fff; }
    .cate-bar ul ul {
      text-transform: capitalize;
      background: #e87461;
      position: absolute;
      right: -180px;
      width: 150px;
      top: 20px;
      transition: .3s all;
      opacity: 0;
      z-index: -1;
      visibility: hidden; }

.box-filter {
  position: relative;
  margin-bottom: 30px;
  font-size: 13px;
  text-transform: uppercase; }
  .box-filter ul {
    list-style: none; }
    .box-filter ul li {
      margin-bottom: 4px; }
      .box-filter ul li:last-child {
        margin-bottom: 0; }
      .box-filter ul li input {
        position: relative;
        margin-right: 10px;
        top: 2px; }
      .box-filter ul li label {
        cursor: pointer; }

header {
  background: #e87461;
  padding: 10px 0; }

.header-top {
  margin-bottom: 10px; }
  .header-top ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 13px; }
    .header-top ul li {
      padding-left: 25px; }
  .header-top a {
    color: #fff !important; }

.content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px; }
  .content-head select {
    width: 125px;
    height: 35px;
    border: 0;
    background: #fff;
    outline: none; }

.box-search {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; }
  .box-search input {
    height: 35px;
    border: 0;
    width: 350px;
    border-left: 1px solid #ddd; }
  .box-search button {
    border: 0;
    cursor: pointer;
    background: #fff;
    width: 35px;
    height: 35px;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    outline: none; }
    .box-search button:hover {
      color: #e87461; }

.box-user {
  display: flex; }

.box-log {
  position: relative;
  padding-left: 20px;
  color: #fff;
  padding-right: 20px; }
  .box-log:After {
    content: "\f007";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0; }
  .box-log li {
    position: relative;
    padding-right: 5px; }
    .box-log li:after {
      content: "/";
      position: absolute;
      right: -6px;
      top: 0;
      color: #fff; }
    .box-log li:last-child {
      padding-right: 0; }
      .box-log li:last-child:after {
        display: none; }
  .box-log a {
    color: #fff !important; }

.h-cart a {
  color: #fff !important; }
  .h-cart a i {
    position: relative;
    margin-right: 5px; }

nav#menu {
  z-index: 1001;
  display: none; }

.pagination {
  padding-top: 20px; }
  .pagination li {
    margin-right: 0 !important; }
  .pagination a {
    display: flex;
    font-size: 13px;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    border-radius: 5px; }
    .pagination a:hover, .pagination a.active {
      background: #e87461;
      color: #fff;
      border: 1px solid #e87461; }

.breadcrumbs {
  background: #ebebeb;
  padding: 10px 0; }
  .breadcrumbs ul {
    font-size: 13px; }
    .breadcrumbs ul li {
      position: relative;
      padding-right: 15px; }
      .breadcrumbs ul li:last-child {
        padding-right: 0; }
        .breadcrumbs ul li:last-child a {
          color: #e87461; }
        .breadcrumbs ul li:last-child:after {
          display: none; }
      .breadcrumbs ul li:after {
        content: ">";
        position: absolute;
        top: 0;
        right: -2px; }
  .breadcrumbs a i {
    margin-right: 4px; }

.modal-user .modal-dialog {
  max-width: 400px; }
.modal-user .modal-body {
  padding: 30px; }
  .modal-user .modal-body .close {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    outline: none; }
.modal-user .title-user {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: red; }

.content-user .item {
  margin-bottom: 15px; }
  .content-user .item:last-child {
    margin-bottom: 0; }
  .content-user .item i {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd; }
  .content-user .item input {
    width: 100%;
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 15px 0 55px; }
  .content-user .item a {
    font-size: 13px; }
  .content-user .item [type=submit] {
    padding: 0;
    background: red;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer; }
    .content-user .item [type=submit]:hover {
      background: #7fb342; }

@media (max-width: 767px) {
  .header-top, .header-boot {
    display: none; }

  .footer-top {
    padding: 30px 0 0 0; }

  .item-footer {
    margin-bottom: 30px; }

  .reserved p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px; }

  .reserved {
    font-size: 12px; }

  .reserved ul {
    text-align: center !important; }

  .menu-mobile {
    display: block !important; }

  nav#menu.mm-menu_opened {
    display: block; }

  .cart-mb a {
    font-size: 20px;
    margin-right: 10px;
    color: #fff !important; }

  .btn-menu a {
    color: #fff !important;
    font-size: 20px; }

  li.mm-listitem input {
    width: 100%;
    height: 35px;
    padding: 0 6px;
    font-size: 13px;
    border: 1px solid #e87461; }

  li.mm-listitem button {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border: 0;
    background: #e87461;
    color: #fff;
    outline: none; } }
@media (max-width: 1023px) and (min-width: 768px) {
  .footer-top {
    padding: 30px 0 0 0; }

  .item-footer {
    margin-bottom: 30px; }

  .reserved {
    font-size: 12px; }

  .box-filter {
    font-size: 12px; }

  .cate-bar ul a {
    font-size: 12px; }

  .item-price ins {
    font-size: 15px; }

  .item-price del {
    padding-right: 0; }

  .item-price {
    justify-content: space-between; }

  .title h2 {
    font-size: 16px; }

  .slide-banner img {
    height: 350px; }

  .box-search {
    padding: 0 15px; }

  .content-head select {
    width: 100px; }

  .box-search input {
    width: 170px; }

  .content-head .logo img {
    max-width: 180px; }

  .item-price del {
    display: none; }

  .list-cart {
    width: 800px; }

  .scroll-mb {
    overflow: auto; } }
@media (max-width: 1199px) and (min-width: 1024px) {
  .footer-top {
    padding: 40px 0 0 0; }

  .item-footer {
    margin-bottom: 40px; }

  .box-search input {
    width: 300px; } }
.box-slide {
  padding: 60px 0 0 0; }
  .box-slide .col-md-3 {
    z-index: 3; }

.slide-banner img {
  height: 435px;
  object-fit: cover; }
.slide-banner:hover .slick-arrow {
  transform: scale(1); }

#box-home-prd {
  padding: 60px 0; }
  #box-home-prd.cate-site {
    padding: 40px 0; }

.list-new .row {
  margin: 0 -10px; }
  .list-new .row .col-md-6 {
    padding: 0 10px; }

.item-news .avarta {
  overflow: hidden;
  border-radius: 6px; }
  .item-news .avarta img {
    transition: .6s all !important; }
    .item-news .avarta img:hover {
      transform: scale(1.06) rotate(3deg); }
.item-news .info {
  padding-top: 15px; }
  .item-news .info a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 10px; }
  .item-news .info .desc {
    font-size: 14px;
    color: #777777; }

.title {
  margin-bottom: 25px; }
  .title h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #e87461; }
    .title h2 img {
      margin-right: 10px; }

.document {
  margin-bottom: 60px; }

.slide-doc {
  margin: 0 -7px; }
  .slide-doc .item-slide {
    padding: 0 7px; }
  .slide-doc:hover .slick-arrow {
    transform: scale(1); }

.item-prd {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #ebebeb; }
  .item-prd .avarta {
    overflow: hidden;
    position: relative; }
    .item-prd .avarta img {
      transition: .6s all !important; }
      .item-prd .avarta img:hover {
        transform: scale(1.06); }
  .item-prd .info {
    padding: 10px;
    font-size: 13px; }
    .item-prd .info h3 a {
      display: block;
      font-size: 15px;
      font-weight: 600; }
    .item-prd .info .author {
      padding: 8px 0; }

.favorite {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 13px; }
  .favorite a {
    position: relative;
    top: 1.2px; }
    .favorite a.active {
      color: red; }

.reviews-content {
  display: flex; }
  .reviews-content .star {
    margin-right: 10px; }
    .reviews-content .star i {
      color: #dbdbdb; }
      .reviews-content .star i.star-vote {
        color: #ffc107; }

.item-price {
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }
  .item-price del {
    font-weight: bold;
    color: #777777;
    padding-right: 20px; }
  .item-price ins {
    border-bottom: 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: red; }

.box-story {
  background-size: cover !important;
  padding: 100px 0;
  margin-bottom: 60px;
  color: #fff;
  font-size: 13.5px; }

.info-story {
  max-width: 550px;
  margin: 0 auto; }
  .info-story h3 {
    font-size: 20px;
    text-transform: uppercase; }
  .info-story .desc {
    padding: 20px 0; }
  .info-story .btn-more a {
    display: inline-flex;
    height: 40px;
    background: #3b69f3;
    align-items: center;
    padding: 0 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px; }
    .info-story .btn-more a i {
      position: relative;
      margin-left: 15px; }

.list-prd .row {
  margin: 0 -7px; }
  .list-prd .row .col-md-4 {
    padding: 0 7px;
    margin-bottom: 14px; }

.slide-thumb .carousel-item {
  display: flex;
  align-items: center;
  height: 390px; }
.slide-thumb .slider-for {
  background: #e874611f;
  padding: 15px;
  border: 1px solid #e874611f;
  border-radius: 10px;
  margin-bottom: 20px; }
.slide-thumb .slider-nav {
  margin: 0 -5px; }
  .slide-thumb .slider-nav .slick-track {
    display: flex;
    align-items: center; }
  .slide-thumb .slider-nav .clc {
    padding: 0 5px; }
    .slide-thumb .slider-nav .clc .item {
      cursor: pointer; }

.info-preview {
  font-size: 13px; }
  .info-preview h1 {
    font-size: 20px;
    font-weight: bold;
    color: #e87461;
    margin-bottom: 15px; }
  .info-preview .reviews-content {
    margin-bottom: 10px; }
  .info-preview .desc ul {
    list-style: none; }
  .info-preview .desc li {
    margin-bottom: 4px; }
    .info-preview .desc li:last-child {
      margin-bottom: 0; }
  .info-preview .desc label {
    padding-right: 5px; }

.quantity-numb {
  padding: 15px 0;
  border-bottom: 1px solid #E5E5E5; }
  .quantity-numb ul {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.quantity .ns-btn {
  width: 35px;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  cursor: pointer; }
  .quantity .ns-btn a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
.quantity input {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #f2f2f2;
  padding: 0; }

.number-spinner {
  display: flex;
  align-items: center; }

.btn-cart a {
  display: flex;
  height: 35px;
  background: red;
  color: #fff;
  align-items: center;
  padding: 0 30px;
  border-radius: 30px;
  font-weight: 500; }
  .btn-cart a:hover {
    background: #7fb342;
    color: #fff; }

.social {
  padding-top: 20px; }
  .social li {
    font-size: 30px; }

.preview-prd {
  margin-bottom: 40px; }

.content-detail .tab-content {
  padding: 30px;
  border: 1px solid #dee2e6;
  border-top: 0; }
.content-detail .tab-pane {
  font-size: 13px; }
  .content-detail .tab-pane p {
    margin-bottom: 15px; }

.nav-tabs .nav-link {
  color: #777777 !important;
  font-size: 18px;
  font-weight: 500; }
  .nav-tabs .nav-link.active {
    color: #e87461 !important; }

.title-review h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px; }

.item-review {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  position: relative;
  text-align: justify;
  margin-bottom: 20px; }
  .item-review:last-child {
    margin-bottom: 0; }
  .item-review .avarta {
    flex: 0 0 60px;
    margin-right: 15px; }
    .item-review .avarta img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      object-fit: cover; }
  .item-review .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
    .item-review .top .date label {
      font-weight: bold;
      position: relative;
      padding-right: 10px; }
      .item-review .top .date label:after {
        content: "-";
        padding-left: 5px; }
  .item-review .desc {
    line-height: 1.5; }

.other-prd {
  padding-top: 40px; }

#cart {
  padding: 60px 0; }

.cart-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd; }
  .cart-title h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px; }

.item-cart {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd; }
  .item-cart .cart-prd {
    display: flex;
    flex: 0 0 calc(100% - 200px);
    padding-right: 20px; }
    .item-cart .cart-prd .avarta {
      flex: 0 0 150px;
      margin-right: 10px; }
  .item-cart .info h3 a {
    display: block;
    font-size: 18px;
    font-weight: 500; }
  .item-cart .info .author {
    padding: 10px 0; }
  .item-cart .info .desc {
    text-align: justify;
    line-height: 1.5; }
  .item-cart .right-cart {
    flex: 0 0 150px;
    text-align: center; }
    .item-cart .right-cart .number-spinner {
      justify-content: center; }
  .item-cart .remove {
    flex: 0 0 50px;
    text-align: right;
    font-size: 18px; }
  .item-cart .capacity p {
    font-size: 20px;
    font-weight: bold;
    color: red; }

.box-oder {
  position: sticky;
  top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px; }
  .box-oder h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .box-oder ul {
    list-style: none; }
    .box-oder ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0; }
    .box-oder ul .total {
      font-size: 18px;
      font-weight: bold;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 15px; }

.btn-checkout a {
  display: flex;
  height: 40px;
  background: red;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 600;
  color: #fff; }
  .btn-checkout a:hover {
    background: #7fb342;
    color: #fff; }

.slick-arrow {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  transition: .4s all !important;
  top: calc(50% - 20px);
  background: #000000;
  border: 0;
  color: #fff;
  font-size: 20px;
  opacity: .3;
  outline: none;
  cursor: pointer;
  transform: scale(0); }
  .slick-arrow:hover {
    opacity: .8; }
  .slick-arrow.next {
    left: unset;
    right: 0; }

.document .slick-arrow {
  left: 7px;
  background: #e87461; }

.document .slick-arrow.next {
  left: unset;
  right: 7px; }

.filter-sort {
  font-size: 13px;
  color: #777777;
  margin-bottom: 20px; }
  .filter-sort select {
    border: 0;
    background: #fff;
    color: #777777;
    outline: none; }
  .filter-sort li {
    position: relative;
    padding-right: 10px; }
    .filter-sort li:after {
      content: "|";
      top: -1px;
      right: 0;
      position: absolute; }
    .filter-sort li:last-child {
      padding-right: 0; }
      .filter-sort li:last-child:after {
        display: none; }

.starrating > input {
  display: none; }

/* Remove radio buttons */
.starrating > label:before {
  content: "\f005";
  /* Star */
  margin: 2px;
  font-size: 30px;
  font-family: FontAwesome;
  display: inline-block; }

.starrating > label {
  color: #777777;
  /* Start color when not clicked */ }

.starrating > input:checked ~ label {
  color: #ffca08; }

/* Set yellow color when star checked */
.starrating > input:hover ~ label {
  color: #ffca08; }

/* Set yellow color when star hover */
.write-cmt {
  margin-top: 20px;
  font-size: 15px; }

.modal-cmt .modal-content {
  padding: 20px; }
.modal-cmt .modal-dialog {
  max-width: 800px; }

.title-cmt {
  font-size: 20px;
  text-transform: uppercase;
  color: #e87461; }

.item-cmt {
  align-items: center;
  justify-content: space-between; }
  .item-cmt .t-cmt {
    font-size: 20px;
    font-weight: 500; }
    .item-cmt .t-cmt.mb-10 {
      margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
