* {
    margin: 0;
    padding: 0;
}
@import "fonts.scss";
$green: #18ffb2;
$red: #e87461;
$blue: #0063af;
*{margin:0;padding:0;}
body{
    box-sizing: border-box;
    padding: 0 !important; 
    font-size: 15px; 
    line-height: 1.7;
    transition: .3s all; 
    position: relative;
    overflow-x: hidden;
    // background: #111; 
    font-family: 'Roboto';
    font-weight: normal;
    color: #333333; 
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a {  
        text-decoration: none !important;       
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;   
    }  
	.container{ 
		max-width: 1200px;
	}
	input {
		padding: 0 15px;  
		outline: none;
		color: #000000;
	} 
	input, button { 
		transition: .3s all !important;
	} 
	p {
		margin-bottom: 0;
	}
    a {
        color: #333333;
        &:hover {
            color: $blue; 
            svg {
                fill: $green;
            }
        }
    }
}
.avarta {
    overflow: hidden;
    img {
        transition: .5s all !important;
        &:hover {
            transform: scale(1.05);
        }
    }
}
.slick-slider {
    margin-bottom: 0;
    img {
        display: inline;
    }
}
@import "layer.scss";

.news {
    padding: 40px 0;
    .row {
        margin: 0 -10px;
        > div {
            padding: 0 10px;
        }
    }
}
.item-news {
    background-color: #fff;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    .avarta {
        flex: 0 0 270px;
    }
    .info {
        padding: 10px 15px 5px 15px;
        h3 {
            a {
                display: block;
                font-size: 18px;
                margin-bottom: 5px;
                font-weight: 500;
                line-height: 1.4;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .date {
            padding-top: 10px;
            font-size: 14px;
        }
        .desc {
            line-height: 1.4;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}
.box-bar {
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .title-bar {
        font-size: 17px;
        font-weight: 600;
        padding: 0px 0 10px 0;
        text-transform: uppercase;
        color: $blue;
    }
}
.new-bar {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .avarta {
        flex: 0 0 100px;
        margin-right: 10px;
    }
    .info {
        flex: 0 0 calc(100% - 110px);
        a {
            display: block;
            font-size: 14px;
            line-height: 1.4;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    .desc {
        line-height: 1.5;
        font-weight: 300;
        font-size: 14px;
        padding-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
.side-bar {
    position: sticky;
    top: 130px;
}
.pagination {
    a {
        display: flex;
        width: 35px;
        height: 35px;
        background: #ffff;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        &.active, &:hover {
            background: $blue;
            color: #fff;
        }
    }
}
.content-detail {
    background: #fff;
    padding: 20px;
}
.detail-top {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    h1 {
        font-size: 25px;
        margin-bottom: 10px;
        color: #0063af;
    }
}
.detail {
    p {
        margin-bottom: 20px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
.other-detail {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
.title-detail {
    color: #0063af;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}
.item-other {
    height: 100%;
    box-shadow: 0px 0px 5px #ddd;
    .info {
        padding: 12px;
        a {
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 1.4;
        }
    }
    .date {
        color: #576C8A;
        font-size: 14px;
        padding-top: 10px;
    }
    .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.cart-pay {
    padding: 60px 0;
}
.box-bar-cart {
    background: #fff;
    padding: 15px;
    font-size: 14px;
    h3 {
        font-weight: normal;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}
.info-bar-cart {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    ul {
        list-style: none;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.total {
    font-weight: bold;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 16px;
    }
    li {
        &.price-cart {
            color: red;
        }
    }
}
.btn-bar {
    padding: 20px 0;
    a {
        display: flex;
        height: 40px;
        background: $blue;
        color: #fff !important;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }
}
.btn-back-home {
    a {
        color: $blue;
        i {
            margin-right: 10px;
        }
    }
}
.box-prd-cart {
    background: #fff;
    padding: 15px;
}
.scroll-mb {
    font-size: 14px;
    table {
        margin-bottom: 0;
        border: 1px solid #ddd;
    }
    th {
        font-weight: normal;
        vertical-align: middle;
    }
    thead {
        background: #ebebeb;
        font-size: 14px;
        font-weight: normal;
    }
    .quantity {
        input {
            width: 60px;
            padding: 0 0 0 15px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }
    }
    tbody tr {
        th {
            &:first-child {
                width: 45%;
            }
        }
    }
}
.title-cart {
    margin-bottom: 10px;
}
.prd-cart {
    display: flex;
    align-items: center;
    .avarta {
        flex: 0 0 76px;
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .info {
        a {
            font-size: 16px;
            color: #0063af;
            display: block;
        }
        .desc {
            font-size: 13px;
            color: #707070;
            padding: 5px 0;
        }
    }
}
.title-p {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #aaa;
    h2 {
        font-size: 25px;
        font-weight: bold;
    }
}
.box-info-user {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    h3 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }
}
.list-form {
    font-size: 14px;
    label {
        margin-bottom: 8px;
    }
    .inp_cart {
        width: 100%;
        height: 35px;
        padding: 0 10px;
        background: #f8f8f8;
        border-radius: 5px;
        border: 0;
    }
    textarea {
        height: 100px;
        width: 100%;
        padding: 0 10px;
        background: #f8f8f8;
        border-radius: 5px;
        outline: none;
        border: 0;
    }
    .row {
        >div {
            margin-bottom: 20px;
        }
    }
}

.slick-arrow {
    position: absolute;
    top: calc(50% - 25px);
    color: #fff;
    font-size: 50px;
    background: transparent;
    border: 0 !important;
    display: inline-flex;
    z-index: 2;
    left: 30px;
    outline: none !important;
    cursor: pointer;
    &.next {
        left: unset;
        right: 30px;
    }
}
.box-banner {
    .slick-dots {
        bottom: 15px;
        button {
            display: none !important;
        }
        li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #ebebeb;
            opacity: 0.5;
            &.slick-active {
                background: #fff;
                opacity: 1;
            }
        }
    }
}
.caption {
    padding: 50px 0;
    h1 {
        font-size: 40px;
        color: #ee0033;
        font-weight: normal;
        line-height: 1.5;
    }
}
.top-tab {
    margin-bottom: 35px;
    font-size: 16px;
    .title {
        margin-bottom: 0;
    }
    h2 {
        font-size: 24px;
        font-weight: 600;
    }
    li {
        padding-right: 35px;
        &:last-child {
            padding-right: 0;
        }
    }
    a {
        &.active, &:hover {
            color: #ee0033;
        }
    }
}
.new-bigs {
    box-shadow: 0px 10px 40px #27347d1f;
    border-radius: 6px;
    height: 100%;
    .info {
        padding: 15px 20px;
        h4 {
            a {
                font-size: 14px;
                color: #ee0033;
            }
        }
        h3 {
            a {
                display: block;
                font-size: 20px;
                padding: 10px 0;
            }
        }
        .date {
            font-size: 14px;
            color: #576C8A;
        }
    }
}

.item-small {
    display: flex;
    box-shadow: 0px 10px 40px #27347d1f;
    border-radius: 6px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .avarta {
        flex: 0 0 258px;
    }
    .info {
        padding: 15px 20px;
        h4 {
            a {
                font-size: 14px;
                color: #ee0033;
                display: block;
            }
        }
        h3 {
            a {
                display: block;
                font-size: 18px;
                padding: 10px 0;
            }
        }
    }
    .date {
        font-size: 14px;
        color: #576C8A;
    }
}
.contne-tab {
    display: none;
    &.active {
        display: block;
    }
}
.new-home {
    padding-bottom: 60px;
}
.title {
    margin-bottom: 35px;
    h2 {
        font-size: 24px;
        font-weight: 600;
    }
}

.tab-pack {
    margin-bottom: 40px;
    ul {
        text-align: center
    }
    li {
        padding: 0 10px;
    }
    a {
        display: flex;
        align-items: center;
        position: relative;
        height: 48px;
        width: 200px;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        color: #707070;
        background: #ebebeb;
        border-radius: 30px;
        &.active, &:hover {
            background: #0063af;
            color: #fff;
        }
    }
    img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        object-fit: cover;
        position: absolute;
        left: 8px;
        top: 6px;
    }
}

.item-pack {
    position: relative;
    box-shadow: 0 3px 6px 0 #00000029;
    border-radius: 4px;
    font-weight: 500;
    ul {
        list-style: none;
        max-height: 270px;
        overflow: auto;
        padding-right: 6px;
        &::-webkit-scrollbar-track {
            background-color: #b8b8b8;
        }
        &::-webkit-scrollbar {
            width: 3px;
            background-color: #b8b8b8
        }
        &::-webkit-scrollbar-thumb {
            background-color: #707070;
        }
        li {
            margin-bottom: 12px;
            position: relative;
            display: flex;
            img {
                flex: 0 0 18px;
                margin-right: 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .desc {
        padding: 15px;
        font-size: 14px;
        font-weight: normal;
    }
}
.title-pack {
    background-color: #f1f7ff;
    color: #0063af;
    padding: 10px 15px;
    font-size: 14px;
    position: relative;
    h3 {
        font-size: 18px;
        margin-bottom: 4px;
        font-weight: bold;
    }
}
.list-pack {
    margin-bottom: 0 -15px;
    .item-slide {
        padding: 5px 15px;
    }
}
.bott-pack {
    border-top: 1px solid #ddd;
    padding: 15px 30px;
    .btn-regis {
        margin-bottom: 5px;
        a {
            display: flex;
            height: 35px;
            background: linear-gradient( 100deg ,#ff2e17,#0063af 83%);
            color: #fff;
            font-size: 14px;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
        }
    }
    .more-pack {
        a {
            font-size: 14px;
            color: #0063af;
            font-weight: normal;
            font-style: italic;
        }
    }
}

.box-packages {
    padding-bottom: 60px;
}
.view-all {
    padding-top: 30px;
    a {
        display: inline-flex;
        height: 40px;
        align-items: center;
        font-size: 18px;
        color: $blue;
        border: 1px solid $blue;
        padding: 0 25px;
        border-radius: 30px;
        i {
            margin-left: 10px;
        }
        &:hover {
            color: #fff;
            background: $blue;
        }
    }
}

.content-pack {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    background: #fff;
    opacity: 0;
    transition: .3s all !important;
    &.active {
        position: relative;
        opacity: 1;
        pointer-events: unset;
    }
}

.box-content-pack {
    position: relative;
    .slick-arrow {
        background: #fff;
        width: 40px;
        height: 40px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        box-shadow: 0 3px 6px 0 #00000029;
        color: #0063af;
        left: -8px;
        &.next {
            left: unset;
            right: -8px;
        }
    }
}
.list-sim {
    padding-top: 50px;
    table {
        margin-bottom: 0;
        border: 1px solid #ddd;
    }
    tbody {
        th {
            font-weight: normal;
            a {
                display: inline-flex;
                height: 35px;
                justify-content: center;
                background: #ee0033;
                align-items: center;
                color: #fff;
                font-weight: 300;
                border-radius: 30px;
                padding: 0 10px;
            }
        }
    }
    .numb-sim {
        color: #ee0033;
        font-weight: 500;
    }
}
.box-search-sim {
    padding-bottom: 60px;
}
.search-sim-top {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    i {
        position: absolute;
        left: 11px;
        font-size: 20px;
        opacity: .4;
        top: 10px;
    }
    input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 0 15px 0 40px;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #ee0033;
        background: #ee0033;
        border-radius: 0 5px 5px 0;
        height: 40px;
        cursor: pointer;
        outline: none;
        color: #fff;
        font-size: 14px;
        padding: 0 20px;
    }
    &:hover {
        .box-note-search {
            opacity: 1;
            top: 50px;
        }
    }
}

.box-note-search {
    box-shadow: 0 3px 6px 0 #00000029;
    background: #fff;
    padding: 15px;
    font-size: 14px;
    z-index: 10;
    pointer-events: none;
    transition: .4s all !important;
    width: 100%;
    top: 70px;
    position: absolute;
    border-radius: 6px;
    opacity: 0;
    h6 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 5px;
            color: #576C8A;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.modal-popup {
    .modal-dialog {
        max-width: 1100px;
    }
    .modal-body {
        padding: 16px 30px;
    }
}
.list-popup {
    .col-md-4 {
        padding: 15px;
    }
}
.content-popup {
    position: relative;
    .close {
        opacity: 1;
        text-shadow: none;
        box-shadow: 0 3px 6px 0 #00000029;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: absolute;
        top: -30px;
        background: #fff;
        right: -45px;
        outline: none !important;
    }
}  

.check-popup {
    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rebeccapurple;
        cursor: pointer;
        opacity: 0;
    }
    input[type=radio] {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
    }
}